html,
body {
  height: 100%;
}

body {
  margin: 0;
}

main {
  height: 100%;
  display: flex;
  perspective: 1000px;
  align-items: center;
  justify-content: center;
  perspective-origin: center 300px;
}

.background {
  width: 100%;
  height: 100%;
  position: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url('../images/championship-2017-bg-video-poster.jpg');
}

.video {
  object-fit: fill;
}


/* https://stackoverflow.com/questions/16348489/is-there-a-css-hack-for-safari-only-not-chrome */

_::-webkit-full-page-media,
_:future,
 :root .video {
  width: 100%;
  height: 100%;
}

.logo {
  top: 50%;
  left: 50%;
  opacity: .9;
  z-index: 999;
  width: 410px;
  height: 410px;
  position: absolute;
  transform: translate(-50%, -50%);
  background: url('../images/logo.svg') no-repeat center center;
}

@media (max-width: 450px) {
  .logo {
    width: 320px;
    height: 320px;
  }
}

@media (max-width: 320px) {
  .logo {
    width: 300px;
    height: 300px;
  }
}

@keyframes spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(-360deg);
  }
}

.warriors {
  width: 200px;
  height: 200px;
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;
}

.warriors.animate {
  animation: spin 60s linear infinite;
}

.warriors.animate:hover {
  animation-play-state: paused;
}

.warrior {
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  position: absolute;
  border-radius: 4px;
  background-size: contain;
  background-repeat: no-repeat;
}

.warrior.sc {
  background-image: url(../images/sc.jpeg);
  transform: rotateY(0) translateZ(380px);
}

.warrior.kd {
  background-image: url(../images/kd.jpeg);
  transform: rotateY(36deg) translateZ(380px);
}

.warrior.ai {
  background-image: url(../images/ai.jpeg);
  transform: rotateY(72deg) translateZ(380px);
}

.warrior.lv {
  background-image: url(../images/lv.jpeg);
  transform: rotateY(108deg) translateZ(380px);
}

.warrior.dw {
  background-image: url(../images/dw.jpeg);
  transform: rotateY(144deg) translateZ(380px);
}

.warrior.klay {
  background-image: url(../images/klay.jpeg);
  transform: rotateY(180deg) translateZ(380px);
}

.warrior.zaza {
  background-image: url(../images/zaza.jpeg);
  transform: rotateY(216deg) translateZ(380px);
}

.warrior.green {
  background-image: url(../images/green.jpeg);
  transform: rotateY(252deg) translateZ(380px);
}

.warrior.clark {
  background-image: url(../images/clark.jpeg);
  transform: rotateY(288deg) translateZ(380px);
}

.warrior.mcgee {
  background-image: url(../images/mcgee.jpeg);
  transform: rotateY(324deg) translateZ(380px);
}